#fundadores {
    width: 400px;
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    
}

.fundador {
    background-color: var(--tc6);
    min-width: 300px;
    border-radius: 30px 30px 30px 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    box-shadow: 5px 5px 5px var(--sc4);
    scroll-snap-align: start;
}

.img-fundador {
    width: 90px;
    margin-inline: 5px;
    border-radius: 50%;
}

.fundador-name {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    height: fit-content;
}

.fundador-name * {
    margin: 0;
    padding: 0;
    text-align: left;
}
.fundador-name p {
    font-size:medium;
}
.fundador-name h4 {
    font-size: larger;
}

.fundador-id {
    display: flex;
    align-items: start;
    justify-content: start;
}
